<footer class="footer bg-dark py-3 mt-auto">
    <div class="container" style="text-align: center;">
        <span class="text-secondary inline">&copy; Manav Mittal | Sidhant Yadav | Shubham Hazra</span>
    </div>
</footer>